    *{
        margin: 0;
    }

/*body*/
    body{
        font-family: sans-serif,fantasy;
       width: 100%;
    }

.videoSidebar{
        display: flex;
        width: 100%;
        flex-direction: row;
       
    }
    
/*Nav*/
.menu{
    height:40px;
    margin-top: 6px;
}
.logo{
    height:60px;
    margin-top:-8px
}

    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        border-bottom: 1px solid grey;
        margin-bottom: 25px
    }
    
    
    .nav-bar > .search {
        margin-left: auto;
	
}
    
    .search{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    input{
        width: 600px;
    font-size: 20px;
    height: 22px;
    padding-left: 20px;
    }
    
/*Video*/
.video{
    padding: 20px;
    }

/*SideBar*/
    .sidebar{
      
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
    }
    
    
    
    .thumbWrap > img {
	height: 150px;
    padding-left: 80px;
    padding-top: 21px;
}
    .thumbWrap {
	display: flex;
    flex-direction:row;
   
}
    .textWrap{
    padding-left: 10px;
    font-size: 12px;
 padding-top: 39px;
    }
button{
    height: 28px; 
    width:71px
}
.iconSearch{
    height: 24px;
}


/*for mobile*/
@media only screen and (max-width: 600px){
      .videoSidebar{
        flex-direction:column;
    }
    .video > iframe{
    height: 0%;
    width: 80%;
    }
       .thumbWrap > img {
	height: 100px;
    padding-left: 10px;
   
}
      .textWrap{
    font-size: 9px;

    }
    input{
    width: 36%;
    font-size: 10px;
    }
    button{
     
    width:35px
}

    
}




    